<html>

<head>
    <title>Orders</title>
</head>
<style>
    #totalResponse {
        width: max-content;
    }

    body {
        background-color: rgb(47, 68, 107);


    }

    .background {
        background-color: white;
        height: 100px;
        width: 450px;
    }


</style>

<body>
    <div class = "background">
        <h1>Put your order number:</h1>
        <input id='inputField'></input>
        <button id='submit'>Submit</button>

    <div id="totalResponse"> </div>


    </div>
   
    <script type="type/javascript">

        
    </script>
</body>

</html>